.card-container{
    width: 1000px;

    @media screen and (max-width: 648px) {
        width: auto;
        max-width: 500px;
    }
}

.radio-lbl{
    min-width: 35px;
}

.radio .radio-label {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-stone-500;
    @apply text-stone-500
}

.radio .radio-label-wrong {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-red-700;
    @apply text-red-500
}

.radio .radio-label-right {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-green-700;
    @apply text-green-700
}


.radio .radio-label:has(input:checked) {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-blue-700;
    @apply bg-blue-600;
    @apply text-white;
}

.radio .radio-label-wrong:has(input:checked) {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-red-700;
    @apply bg-red-500;
    @apply text-white;
}

.radio .radio-label-right:has(input:checked) {
    @extend .radio-lbl;
    @apply border-2;
    @apply border-green-700;
    @apply bg-green-500;
    @apply text-white;
}

//className='border-2 border-blue-700 text-blue-700 px-3 py-2 rounded-lg'
.btn {
    @apply border-2;
    @apply border-blue-700;
    @apply px-3;
    @apply py-2;
    @apply rounded-lg;
}

.btn:disabled{
    @apply border-stone-300;
    @apply bg-stone-300;
    @apply text-white
}